# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

App/build-*
*AppDictionary.xml
*TopologyAppID.csv
*TopologyAppAi_IDTableLog.txt
*AppID.csv
*IDTableLog.txt
*Ac.*
*-template
*ComponentReport.txt
*.gcov
!**/test/ut/output/*.gcov
GTestBase.*
TesterBase.*
Tester.*
!**/test/ut/GTestBase.*
!**/test/ut/TesterBase.*
!**/test/ut/Tester.*